@use "./abstract/colors.scss" as *;
@use "./abstract/font.scss" as *;

.designBox {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;

  h2 {
    color: $green;
    font-family: $headerWeb;
    font-size: $FS-headerWeb;
  }

  .designElements {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 30px;
    width: 50%;

    .designParagraph {
      display: flex;
      flex-direction: column;
      gap: 30px;
    

      p {
        font-family: $paragraph;
        font-size: $FS-paragraph;
        color: rgb(255, 255, 255);
       
        text-align: justify;
      }

      button {
        width: fit-content;
        padding: 20px 40px;
        border-radius: 30px;
        align-self: center;
        border-color: transparent;
        font-family: $buttonText;
        font-size: $FS-buttonText;
        transition: ease-in-out 0.5s;
        &:hover {
          border-color: white;
          background-color: transparent;
          color: white;
          transform: scale(1.1);
        }
      }
    }
    .designImages {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      img {
        width: 80%;
        border-radius: 20%;
        border: solid $yellow 4px;
      }
    }
  }
}
