@use "./abstract/colors.scss" as *;
@use "./abstract/font.scss" as *;

.homeComponents {
  display: flex;
  flex-direction: column;

  .homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 50px 0;
  }
}
